doctype html
html
  head
    title= title
    script(src="https://code.jquery.com/jquery-3.6.1.min.js" 
      integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" 
      crossorigin="anonymous")
    script(src='/javascripts/index.js')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
